* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 75px;
}
body {
    background-color: #E5E5E5;
}
.heading {
    font-size: 48px;
    line-height: 1;
    color: #333333;
}
.second-heading {
    font-size: 24px;
    line-height: 1;
    color: #333333;
}
.description {
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}
.button {
    background: #FF9900;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 20px 40px;
}
/*effect*/
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.button {
    transition: background 0.2s ease-in-out;
}
.button:hover {
    background: #FFB84D;
}
.button:focus-visible {
    outline: none;
    background: #FFB84D;
}
.button:active {
    background: #E1670E;
}
/*header*/
.header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item:not(:last-child) {
    margin-right: 85px;
}
.header__nav-link {
    font-size: 18px;
    color: #333333;
    line-height: 1;
}
.header__search {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
}
.header__search-mobile {
    display: none;
}
/* search modal */
.header__search-modal {
    position: absolute;
    right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    transform: translateY(-180%);
    transition: transform 0.3s ease-in-out;
}
.header__search-modal-active {
    transition: transform 0.3s ease-in-out;
    transform: translateY(0px);
}
.header__search-modal-input {
    border: none;
    border-radius: 0;
    flex: 0 0 80%;
    color: #ADADAD;
    font-size: 18px;
    border-bottom: 1px solid #ADADAD;
}
.header__search-modal-search {
    cursor: pointer;
}
.header__search-modal-search rect {
    fill: #000000;
}
.header__search-modal-search path {
    stroke: #000000;
}
.header__search-modal-close {
    cursor: pointer;
}
/* burger and mobile nav */
.header__burger {
    display: none;
    cursor: pointer;
}
.header__nav-mobile {
    position: absolute;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 420px;
    padding: 35px 50px;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.header__nav-mobile-close {
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 75px;
    cursor: pointer;
}
.header__nav-mobile-item {
    margin-bottom: 60px;
}
.header__nav-mobile-link {
    font-size: 24px;
    line-height: 1;
    color: #333333;
}
.header__nav-mobile-active {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}

/*effect*/
.header__nav-link {
    transition: color 0.2s ease-in-out;
}
.header__nav-link:hover {
    border-bottom: 2px solid #FF9900;
}
.header__nav-link:focus-visible {
    outline: 2px solid #FF9900;
}
.header__nav-link:active {
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}
.header__search path {
    transition: stroke 0.2s ease-in-out;
}
.header__search rect {
    transition: fill 0.2s ease-in-out;
}
.header__search:hover rect {
    fill: #ff9900;
} 
.header__search:hover path {
    stroke: #ff9900;
} 
.header__search:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 2px;
} 
.header__search:active rect {
    fill: #ff9900;
} 
.header__search:active path {
    stroke: #ff9900;
}
.header__burger-icon:hover rect {
    fill: #ff9900;
}
.header__search-modal-search:hover rect {
    fill: #FF9900;
}
.header__search-modal-search:hover path {
    stroke: #FF9900;
}
.header__search-modal-search:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 2px;
}
.header__search-modal-close:hover rect {
    fill: #ff9900;
}
.header__search-modal-close:hover circle {
    stroke: #ff9900;
}
.header__search-modal-close:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 2px;
}
.header__search-modal-close:active rect {
    fill: #000000;
}
.header__search-modal-close:active circle {
    stroke: #000000;
}
.header__nav-mobile-link {
    transition: color 0.2s ease-in-out;
}
.header__nav-mobile-link:hover {
    border-bottom: 2px solid #FF9900;
}
.header__nav-mobile-link:focus-visible {
    outline: 2px solid #FF9900;
}
.header__nav-mobile-link:active {
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}
/*section-hero*/
.slider {
    display: flex;
    height: 620px;
    position: relative;
    overflow: hidden;
}
.slider__item {
    flex: 0 0 100%;
    position: relative;
    z-index: 0;
    transition: transform 0.5s ease-in-out;
}
.slider__content {
    position: absolute;
    left: 10%;
    top: 15%;
}
.slider__heading {
    font-size: 70px;
    line-height: 85px;
    color: #fff;
    margin: 0;
    max-width: 700px;
}
.slider__description {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 25px 0 0 0;
    max-width: 700px;
}
.slider__button {
    font-size: 24px;
    padding: 25px 35px;
    line-height: 1;
    margin-top: 90px;
}
.slider__dots {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content:  center;
}
.slider__dots-item {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 10px;
    cursor: pointer;
}
.slider__dots-active {
    background-color: #fff;
}
.slider__item[data-path="slide-one"] {
    background: url('../images/hero1.jpg') center center no-repeat;
    background-size: cover;
}
.slider__item[data-path="slide-two"] {
    background: url('../images/hero2.jpg') center center no-repeat;
    background-size: cover;
}
.slider__item[data-path="slide-three"] {
    background: url('../images/hero3.jpg') center center no-repeat;
    background-size: cover;
}

/*section-about*/
.section-about {
    padding-top: 100px;
}
.section-about__heading {
    margin-bottom: 20px;
}
.section-about__description {
    max-width: 980px;
}
.section-about__row {
    display: flex;
    margin: 50px -15px 0 -15px;
}
.section-about__column {
    flex: 0 0 50%;
    padding: 0 15px;
}
.section-about__image {
    display: flex;
    align-items: flex-end;
    background: url('../images/about.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
}
.section-about__background {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5); 
}
.section-about__mobile-background {
    display: none;
}
.section-about__background-description {
    max-width: 350px;
    color: #fff;
}
.section-about__background-button {
    background: none;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    border: 3px solid #FF9900;
    cursor: pointer;
    padding: 20px 40px;
}
.section-about__item {
    display: flex;
    border: 1px solid #CACACA;
    padding: 65px 0 65px 0;
}
.section-about__item:not(:last-child) {
    margin-bottom: 30px;
}
.section-about__item-img {
    flex: 0 0 40%;
}
.section-about_img-first {
    background: url('../images/about_item.svg') center center no-repeat;
    background-size: contain;
    height: 100%;
}
.section-about_img-second {
    background: url('../images/about_item2.svg') center center no-repeat;
    background-size: contain;
    height: 100%;
}
.section-about__item-content {
    flex: 0 0 60%;
    padding-right: 150px;
}
.section-about__item-heading {
    margin-bottom: 10px;
}
/*effect*/
.section-about__background-button {
    transition: border 0.2s ease;
    transition: background 0.2s ease-out;
}
.section-about__background-button:hover {
    background: #FF9900;
    color: #fff;
}
.section-about__background-button:focus-visible {
    background: #FF9900;
}
.section-about__background-button:active {
    background: #E1670E;
    border: 2px solid #E1670E;
    color: #fff;
}

/*section-working*/
.section-working {
    padding-top: 100px;
}
.section-working__heading {
    margin-bottom: 50px;
}
.section-working__list {
    display: flex;
    margin-bottom: 45px;
}
.section-working__item {
    margin-right: 85px;
}
.section-working__item-link {
    font-size: 18px;
    line-height: 1;
    color: #333333;
    cursor: pointer;
}
.section-working__link-active {
    color: #E1670E;
}
.section-working__row {
    display: none;
    margin: 0 -15px;
}
.section-working__row-active {
    display: flex;
}
.section-working__column {
    flex: 0 0 50%;
    padding: 0 15px;
}
.section-working__column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-working__item-heading {
    margin-bottom: 10px;
}
.section-working__description {
    max-width: 700px;
}
.section-working__btn-two {
    font-size: 16px;
    line-height: 1;
    background-color: none;
    border: 1px solid #333333;
    padding: 20px 40px;
    cursor: pointer;
    margin-left: 30px;
}
.section-working__btn-one, .section-working__btn-two {
    margin-top: 50px;
}
.section-working__image {
    height: 460px;
}
.section-working__row[data-target="step-one"] .section-working__image{
    background: url('../images/work.jpg') center center no-repeat;
    background-size: cover;
}
.section-working__row[data-target="step-two"] .section-working__image{
    background: url('../images/work2.jpg') center center no-repeat;
    background-size: cover;
}
.section-working__row[data-target="step-three"] .section-working__image{
    background: url('../images/work3.jpg') center center no-repeat;
    background-size: cover;
}
.section-working__row[data-target="step-four"] .section-working__image{
    background: url('../images/work4.jpg') center center no-repeat;
    background-size: cover;
}
/*effect*/
.section-working__btn-two {
    transition: color, background 0.2s ease-in-out; 
}
.section-working__btn-two:hover {
    background: #666666;
    color: #FFFFFF;
    border: 1px solid #666666;
}
.section-working__btn-two:focus-visible {
    outline: none;
    background: #666666;
    color: #FFFFFF;
    border: 1px solid #666666;
}
.section-working__btn-two:active {
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
}
.section-working__item-link:hover {
    color: #FF9900;
}
.section-working__item-link:focus-visible {
    outline: 2px solid #FF9900;
}
.section-working__item-link:active {
    border: #E1670E;
}

/*section-questions*/
.section-questions {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-questions__heading {
    margin-bottom: 30px;
}
.section-questions__item {
    border-top: 1px solid #CACACA;
    padding: 40px 0;
}
.section-questions__item:last-child {
    border-bottom: 1px solid #CACACA;;
}
.section-questions__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-questions__item-heading {
    font-size: 24px;
    line-height: 1;
}
.section-questions__item-plus {
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.section-questions__plus-active {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}
.section-questions__item-description {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.section-questions__description-active {
    transition: height 0.3s ease;
}
.section-questions__item-content {
    margin-top: 30px;
    max-width: 850px;
}
/*footer*/
.footer {
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__row {
    display: flex;
}
.footer__column {
    flex: 0 0 33.3333%;
}
.footer__column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__column:last-child{
    display: flex;
    justify-content: flex-end;
}
.footer__logo {
    display: block;
    margin-bottom: 20px;
}
.footer__item:not(:last-child) {
    margin-bottom: 20px;
}
.footer__item-link {
    font-size: 18px;
    color: #CACACA;
    line-height: 1;
}
.footer__icons {
    display: flex;
    align-items: flex-end;
}
.footer__icon {
    width: 60px;
    height: 60px;
}
.footer__icon:not(:last-child) {
    margin-right: 25px;
}
.footer__heading {
    color: #CACACA;
    margin-bottom: 25px;
}
.footer__form-input {
    margin-bottom: 25px;
}
.footer__input-name, .footer__input-email {
    width: 100%;
    background-color: #414141;
    border: none;
    border-radius: 0;
    color: #CACACA;
    font-size: 16px;
    line-height: 1;
    padding: 20px 25px;
}
.footer__form-message {
    width: 100%;
    background-color: #414141;
    border: none;
    border-radius: 0;
    color: #CACACA;
    font-size: 16px;
    line-height: 32px;
    padding-left: 25px;
    resize: none;
    height: 200px;
    padding: 20px 25px;
}
.footer__input-name::placeholder,  .footer__input-email::placeholder, .footer__form-message::placeholder {
    color: #CACACA;
}
.footer__form-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__disabled-checkbox {
    display: none;
}
.footer__form-label {
    display: block; 
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    font-size: 18px;
    color: #CACACA;
    line-height: 1;
}
.footer__form-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid #CACACA;
}
.footer__form-checkbox::before {
    content: '\2713';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.footer__disabled-checkbox:checked + .footer__form-checkbox::before {
    opacity: 1;
    color: #97EE3F;
}
.footer__form-btn {
    padding: 20px 50px;
}
.footer__description {
    color: #CACACA;
    max-width: 360px;
    margin-top: 70px;
}
/* effect */
.footer__item-link {
    transition: color 0.2s ease-in-out; 
}
.footer__item-link:hover {
    color: #FF9900;
}
.footer__item-link:focus-visible {
    outline: 2px solid #FF9900;
}
.footer__item-link:active {
    color: #E1670E;
}

.footer__icon path {
    transition: fill 0.2s ease-in-out; 
}
.footer__icon {
    outline: none;
}
.footer__icon:hover path{
    fill: #FF9900;
}
.footer__icon:focus-visible svg{
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}
.footer__icon:active path{
    fill: #E1670E;
}

.footer__input-name,
.footer__input-email,
.footer__form-message {
    color: #FFFFFF;
    transition: background 0.2s ease-in-out; 
}
.footer__input-name:hover,
.footer__input-email:hover,
.footer__form-message:hover {
    background: #666666;
}
.footer__input-name:focus,
.footer__input-email:focus,
.footer__form-message:focus {
    background: #666666;
}

/*mobile*/
@media (max-width: 1919px) {
    .container {
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 50px;
    }
    /*header*/
    .header__container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .header__nav {
        display: none;
    }
    .header__search-mobile {
        display: block;
    }
    .header__burger {
        display: block;
    }
    .header__logo {
        width: 150px;
        height: 48px;
    }
    .header__search-modal {
        padding: 15px;
        right: 50px;
    }
    /*section-hero*/
    .slider {
        height: 668px;
    }
    .slider__content {
        top: 20%;
    }
    .slider__heading {
        font-size: 60px;
        line-height: 73px;
        max-width: 600px;
    }
    .slider__description {
        font-size: 20px;
        line-height: 24px;
        margin: 15px 0 0 0;
        max-width: 600px;
    }
    .slider__button {
        margin-top: 60px;
    }
    /*section-about*/
    .section-about {
        padding-top: 80px;
    }
    .section-about__row {
        flex-direction: column;
    }
    .section-about__column:not(:last-child) {
        margin-bottom: 30px;
    }
    .section-about__image{
        height: 640px;
    }
    /*section-working*/
    .section-working {
        padding-top: 80px;
    }
    .section-working__image {
        height: 690px;
    }
    /*section-questions*/
    .section-questions {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section-questions__item-heading {
        font-size: 20px;
        line-height: 32px;
        max-width: 630px;
    }
    /*footer*/
    .footer__column {
        flex: 0 0 60%;
    }
    .footer__column:first-child {
        flex: 0 0 40%;
    }
    .footer__column:last-child {
        display: none;
    }
}
@media (max-width: 1023px) {
    .container {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 50px;
    }
    /*header*/
    .header__container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__nav-mobile {
        padding: 20px 50px;
    }
    /*section-hero*/
    .slider {
        height: 662px;
    }
    .slider__content {
        top: 25%;
    }
    .slider__heading {
        font-size: 50px;
        line-height: 61px;
        max-width: 540px;
    }
    .slider__description {
        font-size: 18px;
        line-height: 22px;
        margin: 15px 0 0 0;
        max-width: 540px;
    }
    .slider__button {
        margin-top: 60px;
    }
    /*section-about*/
    .section-about__background-description {
        max-width: 300px;
    }
    .section-about__item {
        padding: 35px 40px;
    }
    .section-about__item-content {
        flex: 0 0 80%;
        padding-right: 0;
        padding-left: 15px;
    }
    .section-about__item-img {
        flex: 0 0 20%;
    }
    /*section-working*/
    .section-working__list {
        justify-content: space-between;
    }
    .section-working__item {
        margin-right: 0;
    }
    .section-working__row-active {
        flex-direction: column-reverse;
    }
    .section-working__image {
        height: 284px;
    }
    .section-working__column:last-child {
        margin-bottom: 40px;
    }
    .section-working__btn-one, .section-working__btn-two {
        margin-top: 25px;
    }
    /*section-questions*/
    .section-questions__item-heading {
        max-width: 470px;
    }
    /*footer*/
    .footer__row {
        flex-direction: column-reverse;
    }
    .footer__list {
        display: none;
        
    }
    .footer__column {
        padding-right: 100px;
    }
    .footer__column:first-child {
        margin-top: 50px;
    }
    .footer__logo {
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
    }
    .heading {
        font-size: 24px;
    }
    .second-heading {
        font-size: 18px;
        line-height: 22px;
    }
    .description {
        font-size: 14px;
        line-height: 28px;
    }
    .button {
        padding: 10px 20px;
        font-size: 12px;
    }
    /*header*/
    .header__logo {
        width: 110px;
        height: 35px;
    }
    .header__container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header__nav-mobile {
        width: 100%;
        padding: 15px 20px;
    }
    .header__nav-mobile-item {
        margin-bottom: 30px;
    }
    .header__nav-mobile-link {
        font-size: 16px;
    }
    .header__nav-mobile-close {
        margin-bottom: 30px;
    }
    .header__search-modal {
        padding: 20px 15px;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        padding: 0 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .header__search-modal-input {
        font-size: 16px;
        flex: 0 0 70%;
    }
    /*section-hero*/
    .slider {
        height: 308px;
    }
    .slider__content {
        padding: 0 20px;
        text-align: center;
        top: 15%;
        left: 0;
        right: 0;
    }
    .slider__heading {
        font-size: 20px;
        line-height: 24px;
    }
    .slider__description {
        font-size: 18px;
        line-height: 22px;
        margin: 5px 0 0 0;
    }
    .slider__button {
        margin-top: 30px;
    }
    .slider__dots-item {
        width: 10px;
        height: 10px;
    }
    /*section-about*/
    .section-about {
        padding-top: 60px;
    }
    .section-about__row {
        margin: 10px -15px 0 -15px;
    }
    .section-about__image {
        height: 200px;
    }
    .section-about__background {
        display: none;
    }
    .section-about__column:not(:last-child){
        margin-bottom: 10px;
    }
    .section-about__mobile-background {
        display: block;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .section-about__background-description {
        color: #333333;
    }
    .section-about__background-button {
        padding: 10px 20px;
        border: 2px solid #FF9900;
        color: #FF9900;
        margin-top: 10px;
    }
    .section-about__item {
        flex-direction: column;
    }
    .section-about__item-img {
        margin-bottom: 10px;
    }
    .section-about_img-first {
        height: 50px;
        background-position: center left;
    }
    .section-about_img-second {
        height: 50px;
        background-position: center left;
    }
    .section-about__item-content {
        padding-left: 0;
    }
    .section-about__item {
        padding: 0;
        border: none;
    }
    .section-about__item-heading {
        margin-bottom: 5px;
    }
    /*section-working*/
    .section-working {
        padding-top: 60px;
    }
    .section-working__heading {
        margin-bottom: 15px;
    }
    .section-working__list {
        margin-bottom: 15px;
    }
    .section-working__image {
        height: 160px;
    }
    .section-working__column:last-child {
        margin-bottom: 15px;
    }
    .section-working__btn-one {
        border: 1px solid #FF9900;
    }
    .section-working__btn-two {
        padding: 10px 20px;
        font-size: 12px;
        margin-left: 10px;
    }
    .section-working__btn-one, .section-working__btn-two {
        margin-top: 15px;
    }
    /*section-questions*/
    .section-questions {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section-questions__heading {
        margin-bottom: 15px;
    }
    .section-questions__item {
        padding: 30px 0;
    }
    .section-questions__item-heading {
        font-size: 14px;
        line-height: 24px;
    }
    .section-questions__item-plus {
        width: 30px;
        height: 30px;
    }
    .section-questions__item-plus svg {
        width: 30px;
        height: 30px;
    }
    .section-questions__item-heading {
        margin-right: 15px;
    }
    /*footer*/
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer__column {
        padding-right: 0;
    }
    .footer__input-name, .footer__input-email, .footer__form-message {
        font-size: 14px;
    }
    .footer__form-send {
        flex-direction: column;
        border-bottom: 1px solid #595959;
        padding-bottom: 20px;
    }
    .footer__form-label {
        font-size: 16px;
    }
    .footer__form-checkbox {
        top: 1px;
    }
    .footer__form-btn {
        margin-bottom: 15px;
    }
    .footer__logo {
        height: 42px;
        width: 131px;
    }
    .footer__column:first-child {
        margin-top: 15px;
    }
    .footer__nav {
        display: flex;
        justify-content: center;
    }
    .footer__icons {
        justify-content: center;
    }
    .footer__icon:not(:last-child) {
        margin-right: 15px;
    }
    .footer__icon {
        width: 40px;
        height: 40px;
    }
    .footer__icon svg {
        width: 40px;
        height: 40px;
    }
}